*{
    box-sizing: border-box;
}
body{
    background-color: #f1f5f8;
}
.main-container{
    padding: 15px;
    width: 50%;
    margin: 8% auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.txt{
    padding: 8px;
    width: 72%;
    height: 50px;
    border-radius: 5px;
    background-color: #f1f5f8;
    border: none;
   font-size: 20px;
}

.btn{
    width: 15%;
    padding: 1px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 2px;
    background-color: #0e7c86;
    color: white;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color:#18aab7 ;
}

form{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
    
}

.list{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.item{
   
    background-color: #f1f5f8;
    box-shadow: 0 4px 8px 0 rgba(144, 142, 142, 0.2), 0 6px 20px 0 rgba(140, 138, 138, 0.19);
    padding: 10px;
    width: 93%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    font-size: 20px;
    align-items: center;
}
.btn-flex button{
    border: none;
    padding: 10px;
    margin-left: 3px;
    background-color: #0e7c86;
    color: #ffffff;
    font-size: 14px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
.btn-flex button:hover{
    background-color:#18aab7 ;
}

